{% extends 'Base.html' %}
{% load static %}
{% load settings_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="bradcaump__inner text-right rtl">
                    <nav class="bradcaump-inner">
                      <a class="breadcrumb-item" href="{% url 'Home' %}">خانه</a>
                      <span class="brd-separetor">/</span>
                      <a class="breadcrumb-item" href="{% url 'tmart_Product:AllProducts' %}">محصولات</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
        <!-- End Bradcaump area --> 
        <!-- Start Our Product Area -->
        <section class="htc__product__area shop__page ptb--130 bg__white">
            <div class="container">
                <div class="htc__product__container">
                    <!-- Start Product MEnu -->
                    <div class="row rtl">
                        <div class="col-md-12">
                            <div class="filter__menu__container">
                                <!--<div class="product__menu">
                                    <button data-filter="*"  class="is-checked">All</button>
                                    <button data-filter=".cat--1">Furnitures</button>
                                    <button data-filter=".cat--2">Bags</button>
                                    <button data-filter=".cat--3">Decoration</button>
                                    <button data-filter=".cat--4">Accessories</button>
                                </div>-->
                                <div class="filter__box">
                                    <a class="filter__menu" href="#">فیلترها</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- Start Filter Menu -->
                    {% filter_menu %}
                    <!-- End Filter Menu -->
                    <!-- End Product MEnu -->
                    <div class="row">
                        <div class="product__list another-product-style">
                            {% if page_obj|length > 0 %}
                            <!-- Start Single Product -->
                            {% for item in page_obj %}
                                {% include 'products_templates/product_component.html' %}
                            {% endfor %}
                            <!-- End Single Product -->
                            {% else %}
                            <h5 class="alert alert-warning text-center">هنوز محصولی به این دسته بندی اضافه نشده</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
                {% if page_obj|length > 0 %}
                    	<nav aria-label="...">
						  <ul class="pagination">
						  	{% if page_obj.has_previous %}
						    <li class=""><a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
						    {% endif %}

						    {% for page in paginator.page_range %}
						    {% if page == page_obj.number%}
						    	<li class="active"><a href="?page={{page}}">{{page}} <span class="sr-only">(current)</span></a></li>
						    {% else %}
						    	<li class=""><a href="?page={{page}}">{{page}} <span class="sr-only">(current)</span></a></li>
						    {% endif %}
	                        {% endfor %}
						    
						    {% if page_obj.has_next %}
						    <li class=""><a href="?page={{ page_obj.next_page_number }}" aria-label="Nexts"><span aria-hidden="true">&raquo;</span></a></li>
						    {% endif %}
						  </ul>
						</nav>
                {% endif %}

            </div>
        </section>
        <!-- End Our Product Area -->
    </div>
    <!-- Body main wrapper end -->
    <!-- QUICKVIEW PRODUCT -->

{% endblock %}