{% extends 'Base.html' %}
{% block content %}

<div class="cart-main-area ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                                       
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">تصویر محصول</th>
                                            <th class="product-name">نام محصول</th>
                                            <th class="product-price">قیمت</th>
                                            <th class="product-quantity">تعداد</th>
                                            <th class="product-subtotal">قیمت کل</th>
                                            <th class="product-remove">حذف از سبد</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	{% for item in qs %}
                                        <tr>
                                            <td class="product-thumbnail"><a><img src="{{item.product.image.url}}" alt="product img"></a></td>
                                            <td class="product-name rtl"><a href="{{item.product.get_absolute_url}}">{{item.product.title}}</a></td>
                                            <td class="product-price"><span class="amount">{{item.price}}</span></td>
                                            <td class="product-quantity"><h5>{{item.count}}</h5></td>
                                            <td class="product-subtotal">{{item.get_total_price}}</td>
                                            <td class="product-remove"><a href="remove_item_fromcart/{{item.id}}"><span class="ti-trash"></span></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-sm-7 col-xs-12">
        
                                    <div class="coupon">
                                        <h3>کد تخفیف</h3>
                                        <p>اگر کد تخفیف دارید ، در این قسمت وارد کنید</p>
                                        <form action="Cart" method="POST" >
                                            {% csrf_token %}
                                        {% if coupon is not None %}
                                        <button type="submit" class="btn btn-warning" disabled>شما بیش از یک کد نمیتوانید استفاده کنید</button>
                                        {% else %}
                                        {{form.code}}
                                        <button type="submit" class="btn btn-success">اعمال کد تخفیف</button>
                                        {% endif %}
                                        </form>
                                    </div>

                                </div>
                                <div class="col-md-4 col-sm-5 col-xs-12 rtl">
                                    <div class="cart_totals">
                                        <h2>ارزش سبد خرید شما</h2>
                                        <table>
                                            <tbody class="">
                                                
                                                <tr class="shipping">  
                                                    <td>
                                                        <p><a class="shipping-calculator-button" href="#">هزینه حمل و نقل رایگان برای خرید بالای 200 هزار تومان</a></p>
                                                    </td>
                                                </tr>
                                                
                                                    {% if coupon is not None %}
                                                    <h6 class="rtl alert alert-success">کد تخفیف وارد شده %{{open_order.coupon.discount}} از قیمت نهایی کم کرده است</h6>
                                                    {% endif %}
                                                
                                                <hr>
                                                <tr class="order-total">
                                                    <th>جمع</th>
                                                    <td>
                                                        <strong><span class="amount">{{open_order.get_total_price}} تومان</span></strong>
                                                    </td>
                                                </tr>                                           
                                            </tbody>
                                        </table>
                                        <div class="wc-proceed-to-checkout">
                                            <a href="checkout.html">نهایی کردن خرید</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                    </div>
                </div>
            </div>
        </div>

{% endblock %}