{% include 'links/style_and_js.html' %}
{% load settings_tags %}
{% navbar request %}
<hr>
<div class="container">
    <div class="col-lg-4 col-lg-offset-4">
        <ul class="login__register__menu">
            <li class="register"><a>ورود</a></li>
        </ul>
        <div id="register" class="">
                <form class="login" method="post">
                    {% csrf_token %}
                    {{login_form.username}}
                    {{login_form.password}}
                    {{login_form.captcha}}
                        <br>
                        {% for error in login_form.username.errors %}
                           <p class="text-danger p-3">{{error}}</p>
                        {% endfor %}
                        <br>        
                                <p class="rtl">حساب کاربری ندارید ؟ <a href="/register">از همین لینک ایجاد کنید</a></p>
                        <br>

                            <div class="htc__login__btn">
                                <button type="submit">ورود</button>
                            </div>


                </form>
        </div>

    </div>
</div>
