{% include 'links/style_and_js.html' %}
{% load settings_tags %}
{% navbar %}
<hr>
<div class="container">
    <div class="col-lg-4 col-lg-offset-4">
        <ul class="login__register__menu">
            <li class="register"><a>ثبت نام</a></li>
        </ul>
        <div id="register" class="">
                <form class="login" method="post">
                    {% csrf_token %}
                        {{register_form.first_name}}
                        {{register_form.last_name}}
                        {{register_form.phone}}

                        {% for error in register_form.phone.errors %}
                            <p class="text-danger p-1">{{error}}</p>
                        {% endfor %}

                        {{register_form.password}}
                        {{register_form.re_password}}

                        <br>
                        {% for error in register_form.re_password.errors %}
                           <p class="text-danger p-3">{{error}}</p>
                        {% endfor %}
                        <br>        
                                    
                            <div class="htc__login__btn">
                                <button type="submit">ثبت نام</button>
                            </div>

                </form>
        </div>

    </div>
</div>
