<!doctype html>
<html class="no-js" lang="en">
{% include 'links/style_and_js.html' %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tmart-Minimalist eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

{% load settings_tags %}
<body>
<!-- Body main wrapper start -->
<div class="wrapper fixed__footer">
    <div class="body__overlay"></div>
    <!-- Start Header Style -->
    {% navbar request %}  
    <!-- End Header Style -->
    {% block content %}

    {% endblock %}

    <!-- Start Footer Area -->
    {% footer %}
    <!-- End Footer Area -->
</div>
{% include 'links/Js.html' %}
</body>
</html>