{% load static %}
{% if qs %}
<section class="htc__product__area bg__white ptb--100">
    {% if user_title %}
    <div class="container">
        <hr>
        <h4 class="rtl">{{user_title}}</h4>
    </div>
{% endif %}
{% if random_four_set is not None %}
<div class="container bg__white">
    <div class="main-container">
        <div class="row">
            <div class="cards rtl">
                {% for item in random_four_set %}
                    {% include 'Category_component.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container bg__white">
    <div class="main-container">
        <div class="row">
            <div class="cards rtl">
                {% for item in random_sets %}
                    {% include 'Category_component.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if random_four_subcategory  %}
<div class="container bg__white">
    <div class="main-container">
        <div class="row">
            <div class="cards rtl">
                {% for item in random_four_subcategory %}
                    {% include 'Category_component.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% elif random_subcategories %}
<div class="container bg__white">
    <div class="main-container">
        <div class="row">
            <div class="cards rtl">
                {% for item in random_subcategories %}
                    {% include 'Category_component.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}


            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-categories-all">
                            <div class="product-categories-title">
                                <h3>{{category.name}}</h3>
                            </div>
                            <div class="product-categories-menu">
                                <ul>
                                    {% if category %}
                                        {% for item in category.subcategory.all %}

                                            {% for i in item.set.all|slice:":2" %}
                                                <li><a href="{% url 'tmart_Product:set_with_id' id=i.id %}">{{i.title_fa}}</a></li>
                                            {% endfor %}
                                        
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="product-style-tab">
                            <div class="product-tab-list">
                                <!-- Nav tabs -->
                                <ul class="tab-style" role="tablist">

                                    <li class="active">
                                        <a href="" data-toggle="tab">
                                            <div class="tab-menu-text">
                                                <h4>{{title}}</h4>
                                            </div>
                                        </a>
                                    </li>
                                        
                                </ul>
                            </div>
                            <div class="tab-content another-product-style jump">
                                <div class="tab-pane active" id="home1">
                                    <div class="row">
                                        <div class="product-slider-active owl-carousel">
                                            {% for item in qs %}
                                            {% include 'slider_product_component.html' %}
                                        </div>
                                            {% endfor %}
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

            {% for item in qs %}
                {% include 'Products_templates/quick_view.html' %}
            {% endfor %}
        </section>
{% endif %}
